<footer class="jumbotron">
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6 mt-2">
                    <p>Página para consumir datos de los personajes de Marvel</p>
                    <p>Se ha logrado hacer el login</p>
                    <p>Configurando el CORS para el ambiente de desarrollo</p>
                </div>
                <i class="fa fa-facebook-f"></i>
            </div>
        </div>
    </div>
</footer>
